* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
input {
  font-family: "Mulish", sans-serif;
}
.container {
  width: 100%;
  max-width: 1175px;
  margin: 0 auto;
}
.header__nav {
  background-color: #59c8e0;
  padding: 9px 0;
  border-bottom: 2px solid #178ea8;
}
.header__nav a {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
}
.header__nav .container {
  display: flex;
  align-items: center;
  width: 100%;
}
header img {
  width: 24px;
}
.header__nav__link {
  margin-left: auto;
}
.header__nav__link ul,
.header__nav__link ul li a {
  display: flex;
  align-items: center;
}
.header__nav__logo-icon ul {
  display: flex;
  align-items: center;
}
.header__nav__logo-icon--face {
  padding-right: 8px;
  border-right: 1px solid #89e2f5;
}
.header__nav__logo-icon--insta {
  padding-left: 8px;
}
.header__nav__link ul li {
  padding-right: 8px;
  padding-left: 8px;
  border-right: 1px solid #89e2f5;
}
.header__nav__link ul li:nth-last-of-type(1) {
  border-right: none;
}
.header__nav__link ul li:nth-last-of-type(1) a span {
  padding-left: 8px;
}
.header__content {
  padding: 10px 0;
}
.header__content .container {
  display: flex;
  align-items: center;
}
.header__logo img {
  width: 368px;
}
.header__search {
  margin-left: auto;
  position: relative;
  width: 100%;
  border: 1px solid #d3d7de;
  border-radius: 20px;
  width: 315px;
  overflow: hidden;
}
.header__search input {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 20px;
  padding: 9px 16px;
}
.header__search--icon {
  position: absolute;
  width: 24px;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.header__search--icon img {
  width: 24px;
}
.header__cart img {
  width: 24px;
}
.header__cart {
  margin-left: 24px;
}
.header__content {
  border-bottom: 0.5px solid #d3d7de;
}
.header__link {
  padding: 25px 0;
}
.header__link ul {
  display: flex;
  align-items: center;
}
.header__link ul li {
  padding-right: 48px;
  position: relative;
}
.header__link ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #172b4d;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  gap: 8px;
}
.header__link ul li.active::after {
  content: "";
  position: absolute;
  bottom: -8px;
  width: calc(100% - 48px);
  height: 2px;
  background-color: #178ea8;
}
.banner {
  height: 440px;
  background-image: url("../images/banner.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner__content h1 {
  font-weight: 700;
  line-height: 60px;
  font-size: 48px;
  color: #178ea8;
}
.banner__content p {
  font-size: 16px;
  line-height: 24px;
  max-width: 467px;
  color: #6b778c;
  margin-top: 17px;
}
.product {
  padding: 77px 0;
}
.product__title {
  text-align: center;
}
.product__title h2 {
  color: #178ea8;
  font-size: 40px;
  line-height: 60px;
  font-weight: 700;
}
.product__title p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-top: 24px;
}
.product__item {
  width: 268px;
  height: 357px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 35px;
  position: relative;
  z-index: -2;
}
.product__item:nth-of-type(1) {
  background: url("../images/product-1.png");
  background-size: cover;
  background-position: center center;
}
.product__item:nth-of-type(2) {
  background: url("../images/product-2.png");
  background-size: cover;
  background-position: center center;
}
.product__item:nth-of-type(3) {
  background: url("../images/product-3.png");
  background-size: cover;
  background-position: center center;
}
.product__item:nth-of-type(4) {
  background: url("../images/product-4.png");
  background-size: cover;
  background-position: center center;
}
.product__item:nth-of-type(5) {
  background: url("../images/product-5.png");
  background-size: cover;
  background-position: center center;
}
.product__item:nth-of-type(6) {
  background: url("../images/product-6.png");
  background-size: cover;
  background-position: center center;
}
.product__item:nth-of-type(7) {
  background: url("../images/product-7.png");
  background-size: cover;
  background-position: center center;
}
.product__item:nth-of-type(8) {
  background: url("../images/product-8.png");
  background-size: cover;
  background-position: center center;
}
.product__item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #0e0e0e;
  opacity: 40%;
  z-index: -1;
}
.product__item h3 {
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 16px;
}
.product__item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 30px;
  padding: 7px 15px;
  font-size: 14px;
  line-height: 20px;
  gap: 8px;
  cursor: pointer;
}
.product__item a img {
  width: 7.4px;
  margin: 6px 8.3px;
}
.product__list {
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: auto;
  align-items: center;
  justify-content: space-between;
}
.about-us {
  padding: 40px 0;
  background-image: url("../images/about.png");
  background-size: cover;
  background-position: center center;
  min-height: 544px;
  position: relative;
  z-index: -2;
}
.about-us::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #ededef;
  opacity: 80%;
  z-index: -1;
}
.about-us__title h2 {
  color: #178ea8;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  font-weight: 700;
}
.about-us__item {
  padding: 0 25px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0px 2px 8px 0px #0000001f;
  border-radius: 4px;
}
.about-us__item h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #172b4d;
}
.about-us__item p {
  margin-top: 16px;
  font-size: 14px;
  line-height: 24px;
  color: #6b778c;
}
.about-us__item__left,
.about-us__item__right {
  width: 369px;
  height: 246px;
}
.about-us__item__left img,
.about-us__item__right img {
  width: 44px;
  margin: 5.9px 6px;
}
.about-us__item__center img {
  width: 50px;
  margin: 2.74px 7px;
}
.about-us__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-top: 83px;
}
.about-us__item__center {
  position: absolute;
  width: 498px;
  height: 332px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.client__card__item img {
  width: 368px;
  height: 245px;
}
.client__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}
.client {
  padding: 60px 0;
}
.client__title h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  color: #178ea8;
  text-align: center;
}
.partner__title h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #178ea8;
  text-align: center;
}
.partner__item {
  width: 268px;
  height: 134px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.partner__item img {
  width: 236px;
}
.partner__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}
.partner {
  padding-bottom: 60px;
}
.pre__footer {
  background-color: #59c8e0;
  padding: 17px;
  position: relative;
  overflow: hidden;
}
.pattern1 {
  position: absolute;
  left: 0;
  top: 0;
  height: 57.76px;
}
.pattern2 {
  position: absolute;
  right: 0;
  top: 0;
  height: 57.76px;
}
.pre__footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pre__footer ul li {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-right: 11px;
  padding-left: 11px;
  border-right: 1px solid #89e2f5;
}
.pre__footer ul li:nth-of-type(1) {
  padding-left: 0;
}
.pre__footer ul li:nth-last-of-type(1) {
  border-right: none;
}
.pre__footer ul li img {
  width: 20px;
  margin: 0 2px;
}
.pre__footer ul li span {
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}
footer {
  padding: 56px 0;
  background-color: #2c3749;
  color: #ffffff;
}
footer .container {
  display: flex;
}
.footer__item {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.footer__item img {
  width: 231px;
}
.footer__item p {
  max-width: 268px;
  margin-top: 24px;
  font-size: 14px;
  line-height: 20px;
}
.footer__item h3 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #f8f8f8;
  margin-bottom: 24px;
}
.footer__item ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer__item ul li {
  display: flex;
  align-items: center;
  gap: 24px;
}
.footer__item ul li p {
  font-size: 14px;
  line-height: 20px;
  margin-top: 0;
  width: 74px;
}
.footer__item ul li span {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
.footer__item:nth-of-type(2) {
  padding-left: 32px;
}
.footer__item ul li a {
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
}
.footer__item:nth-of-type(3) {
  padding-left: 38px;
}
.footer__item:nth-of-type(4) {
  padding-left: 132px;
}
.footer__social {
  display: flex;
  align-items: center;
  gap: 24px;
}
.footer__social img {
  width: 32px;
}
.footer__tag {
  margin-top: 24px;
}
.footer__tag img {
  width: 193px;
}
.copy-right {
  background-color: #3b4556;
  color: #fff;
}
.copy-right .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
}
.copy-right span {
  font-size: 14px;
  line-height: 20px;
}
.client__content,
.partner__content {
  position: relative;
}
.icon__prev,
.icon__next {
  position: absolute;
  border-radius: 100%;
  background-color: #fff;
  top: 50%;
  transform: translateY(50%);
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px #0000001f;
}
.icon__prev img,
.icon__next img {
  width: 24px;
  height: 24px;
}
.icon__prev {
  left: 0;
  transform: translate(-50%, -50%);
}
.icon__next {
  right: 0;
  transform: translate(50%, -50%);
}
.hamburger__menu {
  display: none;
}
@media screen and (max-width: 1250px) {
  .container {
    max-width: 900px;
  }
  .header__link ul li {
    padding-right: 30px;
  }
  .about-us__item__center {
    width: 350px;
  }
  .about-us__item__left,
  .about-us__item__right {
    width: 280px;
  }
  .client__content .client__card__item:nth-child(3) {
    display: none;
  }
  .client__content .client__card__item {
    width: 48%;
  }
  .client__content .client__card__item img {
    width: 100%;
    object-fit: cover;
  }
  .partner__item:nth-last-of-type(1) {
    display: none;
  }
  .partner__item:nth-last-of-type(2) {
    display: none;
  }
  footer .container {
    flex-wrap: wrap;
  }
  .footer__item:nth-of-type(2) {
    padding-left: 250px;
  }
  .footer__item:nth-of-type(3) {
    padding-left: 0 !important;
    margin-top: 30px;
  }
  .footer__item:nth-of-type(4) {
    padding-left: 350px;
    margin-top: 30px;
  }
  .product__item {
    width: 48%;
  }
  /* footer .container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .footer__item {
    padding-left: 0 !important;
  } */
}
@media screen and (max-width: 992px) {
  .container {
    margin: 0;
    max-width: 100%;
    padding: 0 15px;
  }
  .banner__content h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 35px !important;
  }
  .banner__content p {
    max-width: 300px;
  }
  .copy-right .container {
    padding: 8px 15px;
  }
  .client__content,
  .partner__content {
    width: 95%;
    margin: 40px auto;
  }
  .footer__item:nth-of-type(2) {
    padding-left: 180px;
  }
  .footer__item:nth-of-type(4) {
    padding-left: 284px;
    margin-top: 30px;
  }
  .header__link ul {
    display: none;
  }
  .hamburger__menu {
    display: block;
    width: 20px;
    margin-left: auto;
    cursor: pointer;
  }
}
@media screen and (max-width: 850px) {
  .header__search {
    display: none;
  }
  .header__cart {
    margin-left: auto;
  }
  .header__logo img {
    width: 200px;
  }
  .banner__content h1 {
    font-size: 28px;
    line-height: 32px;
  }
  h2 {
    font-size: 28px !important;
    line-height: 32px !important;
  }
  .about-us__item__center {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
  .about-us__content {
    flex-direction: column;
    gap: 20px;
  }
  .about-us__item {
    width: 500px;
  }
  .about-us__content {
    margin-top: 30px;
  }
  .pre__footer ul {
    flex-wrap: wrap;
    gap: 20px;
  }
  .partner__item img {
    width: 180px;
  }
  .pre__footer ul li {
    flex: 1 1 40%;
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media screen and (max-width: 786px) {
  .partner__item img {
    width: 150px;
  }
  footer .container {
    flex-direction: column;
    gap: 30px;
  }
  .footer__item {
    padding-left: 0 !important;
  }
  .about-us__item {
    width: 95%;
  }
  .partner__item:nth-last-of-type(3) {
    display: none;
  }
  .footer__tag img {
    width: 150px;
  }
  .product__item {
    height: 280px;
  }
  .copy-right .container {
    flex-direction: column;
  }
}
